/* You can add global styles to this file, and also import other style files */

.row {
    padding-top: 2mm;
}

/* input {
    width:120px !important;
 } */

 label {
     width:120px !important;
 }

 input {
    width:180px !important;
}